*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.19 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  inset: 0px;
}

.left-10 {
  left: 2.5rem;
}

.top-12 {
  top: 3rem;
}

.right-4 {
  right: 1rem;
}

.top-1\/3 {
  top: 33.333333%;
}

.top-96 {
  top: 24rem;
}

.top-16 {
  top: 4rem;
}

.top-20 {
  top: 5rem;
}

.top-48 {
  top: 12rem;
}

.top-52 {
  top: 13rem;
}

.top-5 {
  top: 1.25rem;
}

.top-8 {
  top: 2rem;
}

.top-2 {
  top: 0.5rem;
}

.top-28 {
  top: 7rem;
}

.top-32 {
  top: 8rem;
}

.top-4 {
  top: 1rem;
}

.top-40 {
  top: 10rem;
}

.top-60 {
  top: 15rem;
}

.top-80 {
  top: 20rem;
}

.top-72 {
  top: 18rem;
}

.bottom-56 {
  bottom: 14rem;
}

.bottom-40 {
  bottom: 10rem;
}

.bottom-4 {
  bottom: 1rem;
}

.bottom-52 {
  bottom: 13rem;
}

.bottom-48 {
  bottom: 12rem;
}

.bottom-44 {
  bottom: 11rem;
}

.bottom-36 {
  bottom: 9rem;
}

.bottom-32 {
  bottom: 8rem;
}

.bottom-28 {
  bottom: 7rem;
}

.bottom-20 {
  bottom: 5rem;
}

.bottom-24 {
  bottom: 6rem;
}

.right-10 {
  right: 2.5rem;
}

.left-1 {
  left: 0.25rem;
}

.left-52 {
  left: 13rem;
}

.right-12 {
  right: 3rem;
}

.right-52 {
  right: 13rem;
}

.-right-20 {
  right: -5rem;
}

.-right-16 {
  right: -4rem;
}

.\!-right-16 {
  right: -4rem !important;
}

.-left-24 {
  left: -6rem;
}

.\!left-0 {
  left: 0px !important;
}

.\!right-0 {
  right: 0px !important;
}

.z-10 {
  z-index: 10;
}

.z-0 {
  z-index: 0;
}

.z-20 {
  z-index: 20;
}

.m-4 {
  margin: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.ml-auto {
  margin-left: auto;
}

.ml-14 {
  margin-left: 3.5rem;
}

.ml-10 {
  margin-left: 2.5rem;
}

.ml-8 {
  margin-left: 2rem;
}

.ml-4 {
  margin-left: 1rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.h-auto {
  height: auto;
}

.h-72 {
  height: 18rem;
}

.h-full {
  height: 100%;
}

.h-60 {
  height: 15rem;
}

.h-96 {
  height: 24rem;
}

.h-80 {
  height: 20rem;
}

.h-7 {
  height: 1.75rem;
}

.h-40 {
  height: 10rem;
}

.min-h-\[350px\] {
  min-height: 350px;
}

.w-full {
  width: 100%;
}

.w-96 {
  width: 24rem;
}

.w-4\/5 {
  width: 80%;
}

.w-1 {
  width: 0.25rem;
}

.w-12 {
  width: 3rem;
}

.w-\[280px\] {
  width: 280px;
}

.w-3\/4 {
  width: 75%;
}

.max-w-\[450px\] {
  max-width: 450px;
}

.max-w-\[460px\] {
  max-width: 460px;
}

.max-w-\[380px\] {
  max-width: 380px;
}

.max-w-\[420px\] {
  max-width: 420px;
}

.max-w-md {
  max-width: 28rem;
}

.max-w-96 {
  max-width: 24rem;
}

.max-w-\[320px\] {
  max-width: 320px;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-12 {
  gap: 3rem;
}

.gap-8 {
  gap: 2rem;
}

.overflow-hidden {
  overflow: hidden;
}

.bg-center {
  background-position: center;
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.pb-16 {
  padding-bottom: 4rem;
}

.pl-8 {
  padding-left: 2rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pt-40 {
  padding-top: 10rem;
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.font-semibold {
  font-weight: 600;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-40 {
  opacity: 0.4;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
}

.home-hero-wrapper{
  background-image: url(./assets/bg-image.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header{
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  z-index:999;
}

.navbar{
  display:flex;
  border-radius:10px;
  justify-content:space-between;
  align-items: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.1);
  padding:1rem 2rem;
  margin: 1rem 2rem;
}

.sections-nav > ul{
  display:flex;
  gap: 25px;
  list-style-type: none;
  font-size:1.1rem;
  color:white;
}

@media (max-width:1150px) {
  .sections-nav > ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:12px
  }

  .right-nav{
    display: flex;
    flex-direction: row;
  }
}

@media (min-width:769px){
  .right-nav > button{
    display: none;
  }
}

@media (max-width:768px){
  .sections-nav > ul{
    display: none
  }

  .right-nav > .contact{
    display: none;
  }
}

@media (max-width:574px){
  .navbar {
    background-color: transparent;
    margin: 1rem;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
  }
}

.right-nav > button {
  float: right;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  background-color: #30149B !important;
  border-radius: 8px;
  color: #fff;
}

.right-nav{
  z-index: 1;
  display: inline-block;
  border-radius:3rem;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.contact {
  background-color: white;
  color: #2E0797;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
  padding: 0.4rem 0.4rem 0.4rem 1.2rem;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  border-radius: 3rem;
  overflow: hidden;
  z-index: 1;
  transition: color 0.4s ease;
}

/* Creates the secret color layer hidden in the center */

.contact::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  /* Hidden by default */
  height: 100%;
  background: linear-gradient(90deg, #2E0797 0%, #726EFC 100%);
  z-index: -1;
  /* Sits underneath the button text */
  transition: width 0.4s ease-in-out;
}

/* When you hover, grow the width to 100% and turn text white */

.contact:hover::before {
  width: 100%;
}

/* THis ::before allows us to create a small box inside css withoiut using html */

.contact:hover {
  color: white;
}

.right-nav .contact>span, .contact.hero-btn>span {
  background: linear-gradient(90deg, rgb(235, 232, 246) 0%, rgb(240, 239, 253) 100%);
  height: 36px;
  width: 36px;
  display: inline-block;
  line-height: 36px;
  text-align: center;
  border-radius: 50px;
  font-size: 20px;
  color: #2E0797;
  transform: rotate(-45deg);
  margin-left: 6px;
  transition: 0.4s ease;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin: 1rem 2rem;
  padding: 10rem 2rem 4rem 2rem;
}

.left-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  color: #fff;
  position: relative;
}

@media (min-width: 992px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }
}

.left-main>span{
  margin: 0;
  font-size: 1rem;
  line-height: 1rem;
  border-radius: 3rem;
  background: rgba(255, 255, 255, 0.1);
  display: inline-block;
  padding: 0.7rem 0.9rem;
}

.left-main>h1{
  padding-top: 1rem;
  font-size: 4rem;
  line-height: 4.6rem;
}

.left-main>p{
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.3rem;
  line-height: 2rem;
}

.contact.hero-btn{
  margin-bottom:3rem;
}

.stats-section{
  display: flex;
  justify-content: space-between;
  width:100%
}

.stats-section > .stat-item{
  padding-right: 3rem;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  margin-right: 3rem;
  text-align: center;
}

.stat-item>h2{
  font-size: 2.5rem;
  line-height: 2.5rem;
  color:#FFF;
  text-align:center;
}

.stat-item>p {
  font-size: 0.9rem;
  line-height: 1rem;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
}

.right-main {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

@keyframes vlbounce {
  0% {
    transform: translateY(-20%);
  }

  50% {
    transform: translateY(20%)
  }

  100% {
    transform: translateY(-20%);
  }
}

.shapes .shape1{
  position: absolute;
  right: 0;
  top: 50%;
  animation: vlbounce 5s linear infinite;
}

.shapes .shape2
{
  position: absolute;
  right: 90px;
  top: 40px;
  animation: vlbounce 5s linear infinite
}

.shapes .shape3{
  position: absolute;
  top: 0;
  animation: vlbounce 5s linear infinite;
}

@keyframes vlspin {
  0% {
    transform: rotate(0deg);
    /* Shuruat 0 degree se hogi */
  }

  100% {
    transform: rotate(360deg);
    /* Khatam poore round yaani 360 degree par hoga */
  }
}

.fan {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.fan img {
  width: 100%;
  height: auto;
  animation: vlspin 12s linear infinite;
}

.hero-img{
  position: relative;
  z-index: 2;
  width:100%;
}

.hero-img img {
  width: 100%;
  height: auto;
  display: block;
}

.img-content{
  background: #fff;
  position: absolute;
  bottom: 0;
  border-radius: 8px;
  padding: 24px;
  width: 313px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index:10;
}

.img-title{
  margin: 0;
  font-size: 20px;
  line-height: 26px;
  color: #111112;
  padding-bottom:20px
}

.img-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-group-content>h4{
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  position: relative;
  color: #111112;
}

.img-group-content>h4:after {
  position: absolute;
  content: "";
  left: -32px;
  height: 1.6px;
  width: 32px;
  background: #111112;
}

@media (min-width: 768px) {
  .md\:\!-left-12 {
    left: -3rem !important;
  }

  .md\:\!-right-8 {
    right: -2rem !important;
  }

  .md\:min-h-\[450px\] {
    min-height: 450px;
  }

  .md\:w-16 {
    width: 4rem;
  }

  .md\:w-\[340px\] {
    width: 340px;
  }

  .md\:w-\[400px\] {
    width: 400px;
  }

  .md\:max-w-\[440px\] {
    max-width: 440px;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:justify-end {
    justify-content: flex-end;
  }

  .md\:gap-24 {
    gap: 6rem;
  }

  .md\:gap-16 {
    gap: 4rem;
  }
}